@charset "utf-8";

/* 工具區------------------------------------------------------ */

html {
    scroll-behavior: smooth;
}

.body {
    font-family: Arial, Helvetica, "微軟正黑體"sans-serif;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1200px;
    box-sizing: border-box;
}

.container-navtop{
    max-width: 600px;
    box-sizing: border-box;
}

/* nav------------------------------------------------ */

.navs-justify-content {
    background-color: #BDE3FF;
    display: flex;
    /* align-items: center; */
    vertical-align:bottom;
}

.nav-loge-img {
    display: block;
    max-height: 100%;
    height: auto;
}

.nav-head {
    /* background-color: blueviolet; */
    left: 0;
}

.nav-body {
    /* background-color: chartreuse; */
    margin-left: 80px;
    margin-right:200px;
}


.nav-head.nav-body.nav-foot {
    display: flex;
}

.nav-body.nav-foot {
    margin-bottom: 6rem;
}

.navs {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    text-align: center;
}

.nav{
    width: 120px;
    /* background-color: crimson; */
    margin-left:1rem;
    /* text-align: center; */
}

.nav-css {
    text-decoration: none;
    /* justify-content: space-between; */
    /* display:block; */
    /* background-color: darkorchid; */
    /* text-align: center; */
}

.nav-titles {
    display: grid;
    text-decoration: none;
    justify-content: space-evenly;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 5px;
    color: #141414;
    border-bottom: solid 2px;
    border-bottom-color: #3776ca;
}


.nav ul {
    display: none;
    position: absolute;
}

.nav:hover ul {
    display: block;
}

.nav-title-link {
    display: inline-block;
    background-color:#D9D9D9;
    text-decoration: none;
    text-align: left;
    width: 120px;
    color: #141414;
    padding-top: 8px;
    padding-bottom: 2px;
}

.nav-titles:hover{
    border-bottom: solid 6px;
    border-bottom-color:#e1971d;
} 
/*導覽列-登入------------------------------------------- */


/* .nav-foot{
    background-color: pink;
} */

.logs{
    width: 100px;
}

.logs-titles {
    display: block;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left:35px ;
    border-bottom: solid 2px;
    border-bottom-color: #3776ca;
    color: #141414;
    text-align: justify;
}

.logs-title{
    display: block;
    width: 100px;
    background-color:#D9D9D9;
    text-decoration: none;
    text-align: left;
    color: #141414;
    margin-top: 8px;
    margin-bottom: 2px;
}




.nav-log-btn{
    background-color:#D9D9D9;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #141414;
    text-align: left;
    text-decoration: none;
}

.nav-foot ul {
    display: none;
    position: absolute;
    text-decoration: none;
    background-color:#D9D9D9;
}

.nav-foot:hover ul {
    display: block;
} 





.logs-titles:hover{
    border-bottom: solid 6px;
    border-bottom-color:#e1971d;
}

/* foot------------------------------------------- */


.nav-footer {
    background-color:#BDE3FF;
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-footer-btn-out{
    display: grid;
    max-width: 100%;
}


.nav-footer-btn-inside{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:10px;
    /* background-color: #e1971d; */

}

.btns-title{
    width: 120px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: #141414;
    border-bottom: solid 2px;
    border-bottom-color:#3776ca;
    margin-left:10px;
}

.btns-title:hover {
    border-bottom: solid 2px;
    border-bottom-color: #e1971d;
}

.btns-title-a{
    text-decoration: none;
    color: #141414;
}



/* footer------------------------------------------- */
.footer-foot {
    background-color:#BDE3FF;
    text-align: center;
}



/* aside------------------------------------------- */

.aside {
    z-index: 10;
    position: fixed;
    right: 1rem;
    bottom: 15rem;
}

.aside-link {
    color: #239ACC;
    text-decoration: .3s;
}

.aside-link:hover {
    color: rgba(0, 0, 0, .5);
}

.aside-link-top {
    font-size: 3rem;
}

/* nav-top------------------------------------- */

.nav-top{
    margin-top: 16px;
    margin-bottom: 16px;
}
.nav-top-css{
display: block;
/* background-color: #0DAC60; */
}

.nav-top-css-itme{
    /* background-color:rgba(217, 217, 217, .3); */
    display: flex;
    vertical-align: bottom;
    text-align: center;
}



.link{
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:15px;
    margin-left:.5rem;
    padding-left:.5rem;
    padding-right:.5rem;
    /* background-color: #F43535; */

}

.link-a{
    /* background-color: aqua; */
    color: #141414;
    margin-bottom:20px;
    padding-bottom:5px ;
    text-align: center;
    text-decoration: none;
    padding-left:1rem;
    padding-right:1rem;
    font-size: 14px;
}

.link-a:hover {
    border-bottom: solid 2px;
    border-bottom-color: #e1971d;
}



/*font-size ------------------------------------------------------------- */

/* 內頁主題大標---------------*/.font-big-title{font-size: 40px;}
/* 內頁主題中標------------*/.font-middle-title{font-size:32px}
/* 內頁主題小標--------*/.font-small-title{font-size:24px}
/* NavBar按鈕-------*/.font-navbar-title{font-size:24px}
/* 區塊標題應用---*/.font-section-title{font-size:20px}
/* NavBarTop按鈕 */.font-navtop-title{font-size:14px}
/* 內文資訊應用*/.font-write-title{font-size:16px}
/* 條列式內文 */.font-list-title{font-size:16px}
/* 最小字級 */.font-last-title{font-size:14px}

/*Color System  Guideline ------------------------------------------------------------- */
/* 清晰藍 */.clearblue{color: #239ACC;}
/* 知性藍 */.nousblue {color: #3776ca;}
/* 青墨藍 */.inkblue{color: #233C61;}
/* 墨筆黑 */.penblack{color:#141414;}
/* 明亮白 */.white{color: #fff;}
/* 導覽列藍 */.navb{color: #BDE3FF;}
/* 提示橘 */.tip-orange{color: #FF971D;}
/* 按鈕輔助色 */.white{color: #0DAC60;}
/* 輔助灰 */.gray{color: rgb(217, 217, 217);}
/* 配色提醒紅 */.red{color: #F43535;}
/* #b3976b */
/* #2ba083; */

/* img縮小---------------------------------------------------------------------------- */

/* .frame {  
    height: 160px; /*can be anything*/
    /* /width: 160px; /*can be anything*/
/*    position: relative;
}  */

    /*  
img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
} */


.frame{
    height: 160px; /*can be anything*/
    width: 160px; /*can be anything*/
    position: relative;
}

.photo{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    /* position: absolute; */
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;

}



/* 圖片置中------------------------------------------------- */

.box{
    height:200px;
    width:300px;
    background:pink;
    margin:30px auto;
    font-size:0;
}
.box:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}
.text{
    display: inline-block;
    font-size:16px;
    vertical-align: middle;
}

/* 分隔線段設計--------------------------------------------- */

/* 漸變 color1 - color2 - color1 */

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/* 透明漸變 - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


/* 雙線 */

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}


/* 單線陰影 */

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}


/* 雲朵状 */

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}


/* 内嵌 */

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}


/* 暈状 */

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


/* 文字插入式 */

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "請輸入文字";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

