@charset "utf-8";

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

.BB {
    color: rgb(55, 118, 202);
    text-align: center;
    margin: 20px auto 0 auto;
    /* background-color: aqua; */
}

.wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.search-container {
    max-width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.earch-icon{
    position: relative;
    /* float: right; */
    width: 100%;
    font-size: 2rem;
    /* margin-right:60px; */
    text-transform: #008ABF;
}
.search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 3px solid #D0CFCE;
    outline: none;
}
.search-bar:focus {
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;
    }   
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    

.yy{
    display: inline-block;
}