@charset "utf-8";
/* 工具區------------------------------------------------------ */

html {
    scroll-behavior: smooth;
}

.body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}


.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container-index {
    max-width: 1200px;
    box-sizing: border-box;
}

/* 工具區------------------------------------------------------ */

.index-interhead {
    /* background-color: rgb(85, 85, 158); */
    margin-top: 2rem;
}

.index-interhead-up {
    max-width: 1200px;
    /* background-color: rgb(54, 119, 119); */
    justify-content: center;
}

.index-big-title {
    text-align: center;
    font-size: 40px;
    margin: 2rem;
    /* background-color: rgb(94, 131, 131); */
}

.index-middle-title {
    text-align: center;
    font-size: 32px;
    margin: 1.5rem;
}

.index-list-title {
    text-align: center;
    font-size: 16px;
    margin: 1.5rem;
}


.loginlink-css {
    /* background-color: brown; */
    width: 100px;
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.index-btns-loginlink {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background: #233C61;
    font-weight: normal;
    display: inline-flex;
    justify-content: space-around
}


.loginlink {
    margin: 9px;
    color: #fff;
    left: 40px;
    text-decoration: none;
    align-items: baseline;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
}

/* ---------圖片合併解------------------- */

.toto {
    width: 700px;
    height: auto;
    /* background-color: #233C61; */
    margin-top: 78px;
    margin-bottom: 60PX;
    margin-left: 272px;
    margin-right: 304px;
}

/* ---------圖片無解------------------- */
.frame-css {
    display: block;
    margin: auto
    /* position: relative;
    width:40% */
}

.frame-img {
    padding-left: auto;
    padding-right: auto;
    vertical-align: baseline;
    align-items: center;
    /* background-color: aqua; */
}

.frame-img-desk {
    position: absolute;
    width: 500px;
    height: auto;
    background-color: blue;
    align-items: center;
}

.frame-img-iPad {
    position: absolute;
    width: 400px;
    height: auto;
    right: 0;
    left: 280px;
    top: 160px;
    background-color: rgb(47, 179, 189);

}

.frame-img-iPhone {
    position: absolute;
    top: 120px;
    width: 150px;
    height: auto;
    background-color: rgb(180, 190, 31);
}

/* ---------------------------- */

.font-middle-title {
    text-align: center;
    padding: 40px;
}


.photo {
    max-height: 70%;
    max-width: 70%;
    /* position: absolute; */
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-top: 40px;
    /* background-color: aqua; */
}


.index-interbody-word {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 40px;
    color: #3776ca;
}

/* ---------------------------------- */

.frame-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-appstore, .photo-google, .photo-microsoft {
    margin: 8px;
}

.font-list-title-acss {
    text-align: center;
    color: #3776ca;
    text-decoration: none;
    border-bottom:2px#3776ca solid; 
    padding-bottom:5px; }
